{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}

<h1>Funko Library</h1>

<div class = "omega">
  <form method="GET">
    {{filter.form|bootstrap}}
      <button type ="submit" class= "btn btn-primary">Search</button>
  </form>
</div>

{% for funko in filter.qs %}
<div class="row">
  <div class="col s11">
    <div class="card">
      <a href="{% url 'funko_detail' funko.id %}">
        <div class="card-content" >
          <span class="card-title">{{ funko.name }}</span>
            <p>Associated With: {{ funko.association }}</p>
            <p>Series: {{funko.series}}
            <p>Number: {{funko.number }}</p>
        </div>
      </div>
    
  </div>
    <div class = "col s1" class = "right-align"><img src="{{funko.image}}" alt="" width="170" 
    height="170">
    </div>
</div>
</a> 

{% endfor %}
<div class ='pages'> 
  <p>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
  <ul class='pages'>
    {% if page_obj.has_previous %}
    <li class='pages'><a href = "?page=1">&laquo; FIRST</a></li>
    <li class='pages'><a href = "?page={{page_obj.previous_page_number}}">PREVIOUS</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class='pages'><a href = "?page={{page_obj.next_page_number}}">NEXT</a></li>
    <li class='pages'><a href = "?page={{page_obj.paginator.num_pages}}">LAST &raquo;</a></li>
    {%endif%}
  </ul>
</div>
{% endblock %}