<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funko Collector</title>
    <link rel="stylesheet" href="/static/home-style.css">
</head>
<body>
    
        <img id= "home-pic" src="/static/wp4529048.jpg" alt="">
       <div class="wrapper two">
            <div class="neon">
                <h3>Welcome to Funko Collector</h3>
            </div>
        </div>
        <a href="{% url 'about'%}"><button>Enter</button></a>
          

    
</body>
</html>