{% extends 'base.html' %}
{% block content %}

<h1>My Collection</h1>

<section class="bravo">
{%for funko in user.profile.collection.all%} 
    <div class="kappa">
        <div >
            <div class="card">
                <div class="alpha">
                <p><a href="{% url 'funko_detail' funko.id %}">{{funko.name}}</a></p>
                <a href="{% url 'funko_detail' funko.id %}"><img src="{{funko.image}}" alt=""width="170" height="170"></a>
                </div>
            </div>
        </div> 
    </div>

{%endfor%}
</section> 
{% endblock %}