{% extends 'base.html' %}
{% block content %}

<h1>My Wishlist</h1>

<section class="bravo">
{%for funko in user.profile.wishlist.all%} 
    <div class="kappa">
        <div >
            <div class="card">
                <div class="alpha">
                <p><a href="{% url 'funko_detail' funko.id %}">{{funko.name}}</a></p>
                <a href="{% url 'funko_detail' funko.id %}"><img src="{{funko.image}}" alt=""width="170" height="170"></a>
                </div>
            </div>
        </div> 
    </div>

{%endfor%}
</section> 
<div class ='pages'> 
    <p>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
    <ul class='pages'>
      {% if page_obj.has_previous %}
      <li class='pages'><a href = "?page=1">&laquo; FIRST</a></li>
      <li class='pages'><a href = "?page={{page_obj.previous_page_number}}">PREVIOUS</a></li>
      {% endif %}
  
      {% if page_obj.has_next %}
      <li class='pages'><a href = "?page={{page_obj.next_page_number}}">NEXT</a></li>
      <li class='pages'><a href = "?page={{page_obj.paginator.num_pages}}">LAST &raquo;</a></li>
      {%endif%}
    </ul>
  </div>
{% endblock %}